
body {
  background: url(http://cdn.edziza.com/app/uploads/2016/06/04072224/mt-edziza-provincial-park-014.jpg) fixed;
  background-size: cover;
}

.content {
  margin-bottom: 800px;
  padding-bottom: 800px;
  background: rgba(255,255,255,0.9);
  border-radius: 2px;
}