// *************************************
//
//   Navigation
//
// *************************************

.navbar-brand {
  line-height: 1;
  margin: 0;
  position: relative;
  top: -10px;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}

// -------------------------------------
//   wp_nav_menu()
// -------------------------------------

.navbar {

  &-nav {

    .menu-item {
      @extend .nav-item;

      // dropdown container

      &-has-children {
        @extend .dropdown;

        &:hover {
          @extend .open;
        }
      }

    }

    a {
      //@extend .nav-link;

      @include media-breakpoint-down(sm) {
      }

    }

    .active a {
      @extend .active;
      //color: $gray;
    }

  }

  // ----- dropdown menus ----- //

  .sub-menu {
    @extend .dropdown-menu;

    .menu-item {
      margin-left: 1rem;
    }

  }

}